<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple HTTP Server | Products</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="p-2 bg-gray-100 text-gray-600 lg:p-0">
    <main
      class="mx-auto gap-4 lg:my-6 grid grid lg:max-w-[70vw] lg:grid-cols-4 overflow-hidden"
    >
      {{product_list}}
    </main>
  </body>
</html>
